/* .navbar{
    margin-bottom: 10px;
}
.nav-item{
    padding: 0 5px;
}
.nav-link{
    font-size: 1.2rem;
    font-family:"Montserrat-Extra-light" 'Montserrat';
} */
body{
    width: 100%;
}
table tr td{
    margin: 20px;
    padding: 10px;
}
#bold
{
    color: rgb(63, 63, 63);
}
